GEMINI_API_KEY=AIzaSyCSroVkCnWErDeZY4SWHFTjCJSsYHZeMs0
NEWS_API_KEY=4e30310f312b409a814a1621076e6b9b
MONGODB_URI=mongodb+srv://newsadmin:news1234@cluster0.gzgweip.mongodb.net/newsdb
ALLOWED_ORIGINS=http://localhost:5173